<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %}Start Tracking a New Product{% endblock title %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript%}

<!-- prettier-ignore -->
{% block content %}
<main>
    <div>
        <h1 class="text-center">Start Tracking a New Product</h1>
        <div style="max-width: 50vw; margin: auto">
        <form method="post">
            <!-- prettier-ignore -->
            {% csrf_token %}
            {% bootstrap_form form %}
            {% comment %} {{ form.as_p }} {% endcomment %}


            <!-- prettier-ignore -->
                    {% if form.errors %} 
                        <div style="display: none;" >
                    {% else %}
                        <div>
                    {% endif %}
                        {% bootstrap_messages %}
                        </div>
            {% buttons %}
            <button>Create!</button>
            {% endbuttons %}
        </form>
    </div>
    </div>
</main>
{% endblock content %}
