<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %}My Tracked Products{% endblock title %}
{% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript%}

<!-- prettier-ignore -->
{% block content %}
<main>
    <div>
        <h1 class="text-center">My Tracked Products</h1>
        {% if product_list.all|length > 0 %}
        <table class="table">
            <thead>
                <th></th>
                <th>Product</th>
                <th>Initial Price</th>
                <th>Current Price</th>
            </thead>
            <tbody>
                {% for product in product_list %}
                <tr>
                    <td>
                        <img
                            style="height: 5rem"
                            src="{{ product.picture_url }}"
                            alt="Product Image"
                        />
                    </td>
                    <td>{{ product.name }}</td>
                    <td>${{ product.initial_price }}</td>
                    {% if product.current_price < product.initial_price %}
                    <td style="color: green">
                        {% elif product.current_price > product.initial_price %}
                    </td>

                    <td style="color: red">{% else %}</td>

                    <td>{% endif %} ${{ product.current_price }}</td>
                    <td>
                        <form
                            action="{% url 'update_product' product.pk %}"
                            method="post"
                        >
                            {% csrf_token %}
                            <input
                                type="hidden"
                                name="update_price"
                                value="{{ product }}"
                            />
                            <button>Update Price</button>
                        </form>
                    </td>
                    <td>
                        <form
                            action="{% url 'delete_product' product.pk %}"
                            method="post"
                        >
                            {% csrf_token %}
                            <input type="hidden" name="delete" />
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You have no tracked products</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
