{% load bootstrap5 %} {% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Matt's Price Tracker {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav
                class="navbar navbar-light navbar-expand-md"
                style="background-color: #e3f2fd"
            >
                <ul class="navbar-nav d-flex justify-content-end">
                    {% if user.is_authenticated %}
                    <li class="p2 nav-item">
                        <a class="nav-link" href="{% url 'create_products' %}"
                            >Add New Product</a
                        >
                    </li>
                    <li class="p2 nav-item">
                        <a class="nav-link" href="{% url 'home' %}"
                            >My Tracked Products</a
                        >
                    </li>
                    <li class="p2 nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"
                            >Logout ({{ user.username }})</a
                        >
                    </li>
                    {% else %}
                    <li class="p2 nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="p2 nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="container">{% block content %} {% endblock content %}</div>
    </body>
</html>
