<!-- prettier-ignore -->
{% extends 'base.html' %} {% block title %}Sign Up!{% endblock title %}

{% load bootstrap5 %} {% bootstrap_css %}
<!-- prettier-ignore -->
{% block content %}
<main>
    <div>
        <h1 class="text-center">Signup</h1>
        {% bootstrap_messages %}
        <div style="max-width: 50vw; margin: auto">
            <form method="post">
                {% csrf_token %} {% bootstrap_form form %}
                <button>Signup</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
